<!DOCTYPE html>
<html lang="es">

   <head>
      <meta charset="UTF-8">
      <title>Digital House Héroes</title>
   </head>

   <body>
      <header>
         <h1>Ada Lovelace</h1>
      </header>
      <p>
         Augusta Ada King, condesa de Lovelace, conocida habitualmente como Ada Lovelace, fue una matemática y escritora británica, célebre sobre todo por su trabajo acerca de la calculadora de uso general de Charles Babbage, la denominada máquina analítica. Entre sus notas sobre la máquina, se encuentra lo que se reconoce hoy como el primer algoritmo destinado a ser procesado por una máquina, por lo que se la considera como la primera programadora de ordenadores.
      </p>
   </body>
</html>